.paydebt_container{
    -fx-background-color:#EEEEEE;
}
.paydebt_background_container{
    -fx-background-color:#132A13;
    -fx-alignment: center;
}
.paydebt_background_container Text{
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}
.account_selector{
    -fx-background-color: #ECF39E;
}

.account_selector .label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}
.account_selector .arrow{
    -fx-background-color: #123A13;
}
#choice-prompt_text{
    -fx-font-weight: 400;
}
.paydebt_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}
.paydebt_form_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.input_field{
    -fx-background-color: #132A13;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;

}
.paydebt_form_container Button{
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}
.paydebt_form_container Button:hover{
    -fx-cursor: hand;
}